[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1204: Static members should appear before non-static members
dotnet_diagnostic.SA1204.severity = none

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1623: Property summary documentation
dotnet_diagnostic.SA1623.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none
